@font-face  {
  font-family: 'PTRoubleSans';
  src: url('../fonts/PTRoubleSans/PTRoubleSans.eot?#iefix') format("embedded-opentype") ,
       url('../fonts/PTRoubleSans/PTRoubleSans.otf') format("opentype") ,
       url('../fonts/PTRoubleSans/PTRoubleSans.woff') format("woff") ,
       url('../fonts/PTRoubleSans/PTRoubleSans.ttf') format("truetype") ,
       url('../fonts/PTRoubleSans/PTRoubleSans.svg#PTRoubleSans') format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face  {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?') format('eot'), 
       url('../fonts/ProximaNova-Bold/ProximaNova-Bold.otf')  format('opentype'),
       url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'), 
       url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf')  format('truetype'),
       url('../fonts/ProximaNova-Bold/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face  {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.eot?') format('eot'), 
       url('../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.otf')  format('opentype'),
       url('../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.woff') format('woff'), 
       url('../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.ttf')  format('truetype'),
       url('../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face  {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Light/ProximaNova-Light.eot?') format('eot'), 
       url('../fonts/ProximaNova-Light/ProximaNova-Light.otf')  format('opentype'),
       url('../fonts/ProximaNova-Light/ProximaNova-Light.woff') format('woff'), 
       url('../fonts/ProximaNova-Light/ProximaNova-Light.ttf')  format('truetype'),
       url('../fonts/ProximaNova-Light/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Semibld/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova-Semibld/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-Semibld/ProximaNova-Semibold.woff') format('woff'),
       url('../fonts/ProximaNova-Semibld/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face  {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?') format('eot'), 
       url('../fonts/ProximaNova-Regular/ProximaNova-Regular.otf')  format('opentype'),
       url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'), 
       url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf')  format('truetype'),
       url('../fonts/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
