@charset "utf-8"
@media screen and (max-width: 1200px)
  .container
    width: 980px
  .header
    &-logo
      margin-right: 20px
      margin-left: 10px
    &-menu
      &-list
        li
          margin-right: 13px
    &-contacts
      margin-right: 10px
  .navigation
    &-list
      -webkit-justify-content: center
      -moz-justify-content: center
      -ms-justify-content: center
      -o-justify-content: center
      justify-content: center
      li
        a
          padding-left: 25px !important
          padding-right: 25px !important
  .main
    &-slider
      width: 772px
    &-menu
      width: 217px
      padding: 25px 28px 35px 25px
  .about
    padding-left: 10px
    padding-right: 10px
  .catalog
    &-list
      max-width: 980px
    &-labels
      margin-left: 131px
  .adventages-item
    max-width: 30%
  .adventages
    &-list
      padding-left: 10px
      padding-right: 10px
    &-title
      padding-left: 10px
  .banner-title
    font-size: 20px
  .catalog-info
    padding-left: 10px
    width: 200px
  .catalog-list-3 .slider-arrow-left
    left: 110px
  .catalog-list-3 .slider-arrow-right
    left: 160px
  .catalog-list-3 .catalog-labels
    margin-left: 120px
  .banner-2-title
    margin-left: 4px
    font-size: 16px
  .footer-text .container
    padding-left: 10px
    padding-right: 10px
  .footer-menu
    &:nth-child(2)
      display: none
  .footer
    .container
      padding-left: 10px
      padding-right: 10px
  .cart-bottom-left
    width: 400px
  .cart-button
    margin-top: 20px

@media screen and (max-width: 980px)
  .header
    &-menu
      display: none
    &-buttons
      margin-left: auto
      margin-right: 20px
    &-contacts
      margin-left: 20px
  .container
    width: 100%
  .catalog-list
    max-width: 100%
  .catalog-tabs-item
    max-width: 100%
  .main-menu
    width: 100%
    position: absolute
    z-index: 1
    height: auto
    padding: 25px 28px 10px 25px
    display: none
    ul
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      -webkit-flex-wrap: wrap
      -moz-flex-wrap: wrap
      -ms-flex-wrap: wrap
      -o-flex-wrap: wrap
      flex-wrap: wrap
      li
        display: block
        width: 33%
  .footer
    &-social
      display: none
  .about
    &-list
      -webkit-flex-wrap: wrap
      -moz-flex-wrap: wrap
      -ms-flex-wrap: wrap
      -o-flex-wrap: wrap
      flex-wrap: wrap
    &-item
      -webkit-flex-direction: column
      -moz-flex-direction: column
      -ms-flex-direction: column
      -o-flex-direction: column
      flex-direction: column
      text-align: center
    &-icon
      margin-right: 0
  .main-slider
    width: 100%
  .navigation
    display: none
  .adventages-item
    padding-left: 20px
    padding-right: 20px
  .banner-image
    padding-left: 40px
    padding-right: 40px
  .banner-title
    padding-top: 49px
    padding-right: 30px
    br
      display: none
  .catalog-row
    -webkit-flex-direction: column
    -moz-flex-direction: column
    -ms-flex-direction: column
    -o-flex-direction: column
    flex-direction: column
  .catalog-list-3
    margin-left: 0
    padding-left: 0px
  .catalog-list-3 .slider-arrow-right
    display: none!important
  .catalog-list-3 .slider-arrow-left
    display: none!important
  .catalog-info
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    width: 100%
  .catalog-info-title
    padding-left: 20px
  .catalog-info
    padding-top: 10px
  .banner-2-title
    margin-left: 4px
    font-size: 16px
    line-height: 21px
    padding-top: 23px
  .banner-2-image
    margin-left: 0
  .banner-2-button a
    padding-left: 0
    padding-right: 0
    width: 200px
    text-align: center
    margin-right: 10px
  .bottom-title
    -webkit-flex-direction: column
    -moz-flex-direction: column
    -ms-flex-direction: column
    -o-flex-direction: column
    flex-direction: column
    text-align: center
  .header
    border-bottom: 4px solid #00adc2
    box-shadow: 0 5px 15px rgba(23, 26, 31, 0.2)
    &-mobile
      margin-top: 23px
      position: relative
      span
        display: block
        width: 40px
        height: 3px
        background-color: #00adc2
        margin-bottom: 9px
        position: absolute
        transition: all 300ms
        &:nth-child(2)
          top: 10px
        &:nth-child(3)
          top: 20px
      &.open
        span
          &:nth-child(1)
            transform: rotate(-45deg)
            top: 10px
          &:nth-child(2)
            transform: rotate(-45deg)
          &:nth-child(3)
            transform: rotate(45deg)
            top: 10px
  .page-content
    padding-left: 10px
    padding-right: 10px
  .catalog-tabs
    padding-left: 10px
    padding-right: 10px
  .cart-image
    width: 111px
    img
      max-width: 100%
  .cart-title
    padding-right: 0
    width: 240px
    padding-right: 25px
  .cart-price
    width: 70px
  .cart-sale
    width: 98px
  .cart-delivery-label
    width: 150px
  .cart-delivery-radio label
    font-size: 12px
  .cart-bottom-left
    width: 350px
  .cart-bottom-right
    width: 370px
  .cart-bottom-total
    font-size: 16px
  .cart-bottom-weight
    font-size: 13px
  .cart-bottom-total span
    font-size: 15px
  .cart-bottom-total p > span
    max-width: 51px
  img
    max-width: 100%
  .news-item
    -webkit-flex-direction: column
    -moz-flex-direction: column
    -ms-flex-direction: column
    -o-flex-direction: column
    flex-direction: column
  .news-image
    margin-bottom: 10px
  .category-left
    width: 233px
    margin-right: 10px
    .filters-title
      padding-right: 20px
      padding-left: 8px


@media screen and (min-width: 980px) and (max-width: 755px)
  .product
    -webkit-flex-wrap: wrap
    -moz-flex-wrap: wrap
    -ms-flex-wrap: wrap
    -o-flex-wrap: wrap
    flex-wrap: wrap
    padding-bottom: 40px
    &-info
      width: 430px
      margin-left: 15px
    &-image
      width: 300px
  .product-tabs-nav ul li a
    padding: 7px 10px 5px 10px
  .product-info
    border: none
  .product-actions
    padding-left: 310px
    margin-left: 0
    width: 100%
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    -webkit-flex-wrap: wrap
    -moz-flex-wrap: wrap
    -ms-flex-wrap: wrap
    -o-flex-wrap: wrap
    flex-wrap: wrap
    -webkit-align-items: center 
    -moz-align-items: center 
    -ms-align-items: center 
    -o-align-items: center 
    align-items: center 
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-justify-content: space-between
    -o-justify-content: space-between
    justify-content: space-between
    &>div
      padding-top: 0
      margin-top: 0
      width: 33%
    .product-stars
      display: none
    .product
      &-support
        width: 100%
        margin-top: 10px
        margin-bottom: 10px
        position: absolute
        margin-top: 34px
    .product-button
      margin-left: auto
      margin-top: 15px

@media screen and (max-width: 755px)
  body
    overflow-x: hidden
  .header
    height: 36px
    overflow: hidden
    border-width: 2px
    &-logo
      font-size: 33px
      padding-top: 1px
      margin-right: 14px
    &-contacts
      display: none
    &-mobile
      margin-top: 12px
      margin-right: 14px
      span
        width: 16px
        height: 1px
        &:nth-child(1)
          top: 0
        &:nth-child(2)
          top: 5px

        &:nth-child(3)
          top: 10px
      &.open
        span
          &:nth-child(1)
            top: 5px
          &:nth-child(2)
            top: 5px
          &:nth-child(3)
            top: 5px
    &-buttons
      margin-right: 10px
      &-list
        padding-top: 8px
        font-size: 17px
        li
          margin-right: 0px
          margin-left: 15px
  .main
    &-slider
      width: 300px
      margin: auto
      height: 220px
      &-item
        height: 220px
        background-position: 50% 50%
        background-image: url(../img/slider-mobile@2x.jpg)!important
      &-title
        color: #313131
        font-size: 18px
        font-weight: 700
        text-transform: uppercase
        padding-top: 19px
        padding-left: 16px
        line-height: 23px
    &-menu
      ul
        li
          width: 100%
    .slick-dots      
      bottom: 0
      li button
        width: 5px
        height: 5px
  .about
    padding-top: 17px
    &-item
      width: 50%
      -webkit-flex-direction: row
      -moz-flex-direction: row
      -ms-flex-direction: row
      -o-flex-direction: row
      flex-direction: row
      margin-bottom: 12px
      &:nth-child(2)
        padding-left: 16px
      &:nth-child(4)
        padding-left: 17px
    &-icon
      font-size: 26px
      padding-top: 3px
    &-title
      font-size: 11px
      color: #313131
      line-height: 14px
      padding-left: 9px
      padding-top: 4px
      letter-spacing: 0.3px
      text-align: left
  .catalog
    padding-bottom: 24px
    overflow: hidden
    &-item
      padding: 14px 9px
    &-labels
      margin-left: 193px
    &-image
      height: 235px
    &-title
      font-size: 15px
    &-arrows
      bottom: -60px
      position: absolute
      width: 100%
      text-align: center
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      -webkit-justify-content: center
      -moz-justify-content: center
      -ms-justify-content: center
      -o-justify-content: center
      justify-content: center
      padding-right: 20px
    &-arrow
      position: static
      margin-left: 5px
      margin-right: 5px
      transform: scale(0.8)
    &-tabs
      &-nav
        padding-top: 35px
        margin-bottom: 27px
        ul
          li
            margin-right: -5px
            a
              padding: 5px 15px
              font-size: 11px
  .adventages
    padding-top: 78px
    padding-bottom: 5px
    &-list
      -webkit-flex-direction: column
      -moz-flex-direction: column
      -ms-flex-direction: column
      -o-flex-direction: column
      flex-direction: column
    &-item
      width: 100%
      height: 138px
      margin-bottom: 9px
      max-width: 100%
      &:nth-child(2)
        padding-top: 12px
        height: 149px
      &:nth-child(3)
        padding-top: 10px
        height: 148px
      &-icon
        padding-top: 8px
        font-size: 70px
      &-title
        padding-top: 5px
        font-size: 16px
  .title
    font-size: 18px
  .banner
    width: 300px
    margin: auto
    position: relative
    padding-bottom: 43px
    &-row
      height: 155px
      em
        display: block
      strong
        display: block
    &-image
      width: 132px
      padding: 0
      position: absolute
      top: 75px
      right: 10px
      img
        max-width: 100%
    &-title
      font-size: 15px
      text-transform: uppercase
      line-height: 18px
      padding-top: 16px
      padding-right: 67px
      padding-left: 17px
  .bottom
    &-form
      width: 100%
  .catalog
    &-info
      padding-top: 3px
      &-icon
        font-size: 46px
        margin-left: -7px
      &-title
        padding-left: 0
        font-size: 18px
  .banner-2
    width: 300px
    margin: auto
    margin-bottom: 22px
    &-row
      height: 75px
      border-radius: 5px
      position: relative
    &-title
      padding-top: 5px
      margin-left: -3px
      font-size: 13px
      line-height: 16px
      width: 196px
    &-image
      width: 94px
      height: 68px
      background-image: url(../img/smarty-cat-mobile.png)
      background-repeat: no-repeat
      margin-top: 8px
      img
        display: none
    &-button
      position: absolute
      padding-top: 0
      top: 44px
      margin-left: 90px
      a
        width: 129px
        font-size: 8px
        text-transform: uppercase
        font-weight: 400
        padding-top: 6px
        padding-bottom: 6px
  .catalog-list-3 .catalog-labels
    margin-left: 205px
  .bottom-title
    padding-left: 0
    text-align: center
    padding-top: 37px
  .bottom-title-left
    padding-right: 0
    font-size: 40px
  .bottom-title-right
    padding-left: 0
    font-size: 13px
    padding-top: 7px
    line-height: 17px
    letter-spacing: -0.3px
  .bottom-form-title
    font-size: 13px
    padding-top: 22px
    letter-spacing: -0.3px
  .bottom
    background-image: url(../img/bottom-mobile.jpg)
  .catalog-list
    width: 300px
    margin: auto
    &-3
      padding-bottom: 10px
  .bottom-form-subtitle
    font-size: 10px
    font-weight: 300
    padding-top: 6px
    padding-right: 12px
  .bottom-form
    &-item
      padding-top: 10px
      &-text
        margin: auto
        width: 199px
        height: 34px
        border-radius: 17px
        background-color: #ffffff
        margin-bottom: 7px
        font-size: 10px
        font-weight: 300
        padding-left: 15px
      &-button
        width: 158px
        height: 34px
        border-radius: 17px
        background-color: #00adc2
        font-size: 12px
        font-weight: 400
        text-transform: uppercase
  .catalog-title
    min-height: 0px
    max-height: none
  .catalog-price
    padding-top: 5px
  .catalog-item
    padding-bottom: 23px
  .catalog-arrow
    margin-left: 2px
    margin-right: 2px
  .catalog-arrows
    bottom: -59px
    z-index: 2
  .banner
    margin-top: 10px
  .bottom
    height: auto
    padding-bottom: 78px
  .footer
    &-text
      padding-top: 24px
      font-size: 10px
      line-height: 12px
    &-row
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      -webkit-flex-wrap: wrap
      -moz-flex-wrap: wrap
      -ms-flex-wrap: wrap
      -o-flex-wrap: wrap
      flex-wrap: wrap
    &-menu
      display: block !important
    &-box
      margin-top: 10px
    &-logo
      color: #e6e6e6
      font-size: 61px
      margin-top: -35px
      margin-right: 66px
    &-info
      width: 150px
      padding-left: 5px
      margin-right: 0
      &-title
        font-size: 10px
        font-weight: 300
      &-text
        font-weight: 300
        font-size: 9px
        padding-bottom: 10px
        line-height: 12px
    &-social
      display: block
      width: 150px
      padding-left: 29px
      &-link
        &-title
          font-weight: 300
          font-size: 10px
          margin-bottom: 10px
          padding-bottom: 0
        &-list
          transform: scale(0.8)
          margin-left: -15px
      &-title
        font-size: 10px
        font-weight: 300
      &-text
        font-weight: 300px
        font-size: 9px
      &-cards
        max-width: 100%
    &-contacts
      width: 150px
      padding-left: 5px
      margin-right: 0
      margin-left: 0
      &-mail
        position: absolute
        margin-top: -50px
        right: 40px
        a
          font-size: 8px
      &-title
        font-size: 10px
        font-weight: 300
      &-text
        font-weight: 300px
        font-size: 9px
        line-height: 11px
      &-phone
        font-size: 12px
    &-copy
      margin-top: 0
      font-size: 6px
      padding-bottom: 20px
      padding-top: 10px

    &-menu
      margin-right: 0
      &:nth-child(2)
        margin-top: -17px
        padding-bottom: 15px
        margin-bottom: 15px
        border-bottom: 1px solid rgba(255,255,255,0.1)
      &:nth-child(3)
        margin-bottom: 36px
        ul
          opacity: 1
          li
            width: 20%
            a
              font-size: 9px
              font-weight: 300
              line-height: 15px
      ul
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        flex-wrap: wrap
        -webkit-justify-content: space-around
        -moz-justify-content: space-around
        -ms-justify-content: space-around
        -o-justify-content: space-around
        justify-content: space-around
        opacity: 0.7
        li
          margin: 0 4px
          a
            font-size: 9px
            font-weight: 300
            line-height: 14.4px
            text-transform: uppercase
  .page
    &-404
      padding-top: 50px
      &-title
        font-size: 113px
        margin-top: -28px
      &-subtitle
        font-size: 22px
        padding-top: 6px
      &-row
        -webkit-flex-direction: column
        -moz-flex-direction: column
        -ms-flex-direction: column
        -o-flex-direction: column
        flex-direction: column
      &-left
        width: 100%
        -webkit-order: 2
        -moz-order: 2
        -ms-order: 2
        -o-order: 2
        order: 2
      &-right
        -webkit-order: 1
        -moz-order: 1
        -ms-order: 1
        -o-order: 1
        order: 1
        width: 100%
        text-align: center
        font-size: 180px
        margin-top: -17px
        color: #838383
        margin-left: -4px
  .cart
    &-head
      &-title
        width: 100%
        display: block !important
      &-name
        display: none
      &-price
        display: none
      &-qty
        display: none
      &-sale
        display: none
      &-total
        display: none
      &-remove
        display: none
    &-table
      table
        width: 100%
        display: block
      tbody
        width: 100%
        display: block
      tr
        width: 100%
        display: block
        position: relative
        padding-bottom: 12px
        border-bottom: 1px solid #e8e8e8
        &:first-child
          padding-bottom: 0
        &:after
          clear: both
          content: ''
          display: block
      td
        display: block
        border: none
        border-bottom: none!important
        width: auto 
      th
        display: none
    &-image
      width: 77px!important
      float: left
      min-height: 100%
    &-empty
      &-icon
        width: 57px
        margin-left: 4px
        margin-right: 16px
      &-content
        padding-left: 76px
        font-size: 14px
        line-height: 19px
        padding-top: 5px
    &-title
      padding-bottom: 0!important
      padding-left: 83px
      max-width: 100%
      &-item
        margin-left: 0
        padding-top: 0
        font-weight: 300
        font-size: 14px
        margin-top: -6px
      &-small
        padding-top: 0px
        margin-top: -10px
    &-price
      padding-top: 3px !important
      padding-bottom: 0px !important
      font-size: 16px
      display: none !important
      padding-left: 83px
      span
        font-size: 16px
      &:before
        content: 'Цена: '
        color: #737373
        font-size: 13px
        font-weight: 200
        line-height: 26px
    &-qty
      padding-top: 0px!important
      padding-bottom: 0px!important
      padding-left: 83px
      &-plus
        width: 12px
        height: 12px
        line-height: 12px
        font-size: 12px
        margin-top: 8px
      &-minus
        width: 12px
        height: 12px
        line-height: 12px
        font-size: 12px
        margin-top: 8px
      &-field
        font-size: 16px
        width: 30px
    &-sale
      padding-top: 0 !important
      padding-bottom: 0 !important
      padding-left: 83px
      font-size: 16px
      &:before
        content: 'Скидка: '
        color: #737373
        text-transform: uppercase
        font-weight: 200
        line-height: 26px
        text-transform: none
    &-total
      padding-top: 2px !important
      padding-bottom: 0 !important
      padding-left: 83px
      font-size: 16px
      span
        font-size: 16px
    &-qty
      margin-top: 20px
    &-remove
      position: absolute
      top: -15px
      right: 0
    &-promo
      display: none
      margin-bottom: 29px
      &--mobile
        display: block
        width: 100%
    &-delivery
      overflow: hidden
      &-label
        display: block
        width: 100%
      &-item
        -webkit-flex-direction: column
        -moz-flex-direction: column
        -ms-flex-direction: column
        -o-flex-direction: column
        flex-direction: column
      &-radio
        margin-right: 0
        width: 100%
      &-content
        -webkit-flex-direction: column
        -moz-flex-direction: column
        -ms-flex-direction: column
        -o-flex-direction: column
        flex-direction: column
      &-text
        margin-top: 10px
      &-item--address
        margin-bottom: 20px
    &-text
      &-field
        max-width: 100%
    &-bottom
      -webkit-flex-direction: column
      -moz-flex-direction: column
      -ms-flex-direction: column
      -o-flex-direction: column
      flex-direction: column
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      padding-top: 20px
      &-weight
        width: 100%
        display: block
      &-right
        -webkit-order: 1
        -moz-order: 1
        -ms-order: 1
        -o-order: 1
        order: 1
        width: 100%
        -webkit-flex-direction: column
        -moz-flex-direction: column
        -ms-flex-direction: column
        -o-flex-direction: column
        flex-direction: column
      &-left
        -webkit-order: 3
        -moz-order: 3
        -ms-order: 3
        -o-order: 3
        order: 3
        width: 100%
      &-total
        text-align: left
        padding-top: 20px
        padding-bottom: 20px
    &-promo
      -webkit-order: 2
      -moz-order: 2
      -ms-order: 2
      -o-order: 2
      order: 2
  .page-content
    padding-top: 22px
    .breadcrumb
      margin-bottom: 16px
      font-size: 10px
      a
        font-size: 10px
    &-title
      margin-bottom: 17px
    &-subtitle
      margin-top: 0px
      margin-bottom: 10px
    &-body
      font-size: 10px
      img
        max-width: 100%
      h2
        font-size: 12px
        margin-bottom: 10px
      h3
        font-size: 11px
      p
        line-height: 14px
        br
          display: none
  .page-article + .catalog .catalog-tabs-nav
    padding-top: 50px
  .cart
    &-empty
      width: 100%
      -webkit-flex-direction: column
      -moz-flex-direction: column
      -ms-flex-direction: column
      -o-flex-direction: column
      flex-direction: column
      &-left
        width: 100%
        text-align: center
        padding-top: 5px
      &-right
        padding-top: 0
        padding-left: 0
        text-align: center
      &-title
        font-size: 18px
        margin-top: -9px
      &-text
        font-size: 10px
        line-height: 13px
        margin-top: -5px
        margin-bottom: 27px
  #map
    height: 252px!important
  .map
    img
      max-width: 100%
  .about
    &-delivery
      padding: 0 !important
      margin-bottom: 4px
      .about
        &-list
          -ms-align-items: flex-start
          align-items: flex-start
        &-title
          padding-left: 0
          span
            font-size: 8.4px
            margin-top: -3px
            line-height: 12px
        &-icon
          margin-right: 8px
        &-item
          margin-bottom: 4px
          &:nth-child(2)
            padding-left: 10px
            .about-icon
              margin-right: 10px
          &:nth-child(3)
            width: 100%
    &-pay
      padding: 0 !important
      margin-bottom: 4px
      .about
        &-list
          -ms-align-items: flex-start
          align-items: flex-start
        &-title
          padding-left: 0
          span
            font-size: 8.4px
            margin-top: -3px
            line-height: 12px
            br
              display: none
        &-icon
          margin-right: 8px
        &-item
          margin-bottom: 4px
          &:nth-child(2)
            padding-left: 10px
            .about-icon
              margin-right: 10px
              margin-left: 0
              font-size: 38px
          &:nth-child(3)
            width: 100%
  .pickup
    &-list
      -ms-align-items: flex-start
      align-items: flex-start
      .about
        &-title
          padding-left: 0
          span
            font-size: 8.4px
            margin-top: -3px
            line-height: 12px
            br
              display: none
        &-icon
          margin-right: 8px
        &-item
          margin-bottom: 4px
          &:nth-child(2)
            padding-left: 0
            .about-icon
              margin-right: 10px
              margin-left: 0
              font-size: 38px
          &:nth-child(3)
            width: 64%
  .news
    &-item
      -webkit-flex-direction: column
      -moz-flex-direction: column
      -ms-flex-direction: column
      -o-flex-direction: column
      flex-direction: column
    &-date
      -webkit-order: 1
      -moz-order: 1
      -ms-order: 1
      -o-order: 1
      order: 1
      text-align: left
      margin-left: 0
      padding-bottom: 10px
    &-title
      -webkit-order: 2
      -moz-order: 2
      -ms-order: 2
      -o-order: 2
      order: 2
    &-bottom
      -webkit-display: block
      -moz-display: block
      -ms-display: block
      -o-display: block
      display: block
    &-more
      margin-top: 0
      margin-left: 0
      a
        display: block
        margin-top: 25px
    &-image
      margin-right: 0
      a
        display: block
        width: 100%
      img
        max-width: 100%
        min-width: 100%
        margin-bottom: 30px
    &-top
      -webkit-flex-direction: column
      -moz-flex-direction: column
      -ms-flex-direction: column
      -o-flex-direction: column
      flex-direction: column
  .image
    &-desktop
      display: none
    &-mobile
      display: block
  .page-content-offset
    padding-left: 20px
    font-size: 10px
  .banner--top
    width: 320px
    margin-top: 0
  .category-left
    width: 300px
    margin: auto
    margin-bottom: 30px
  .category-right
    width: 300px
    margin: auto
  .category-content
    -webkit-flex-direction: column
    -moz-flex-direction: column
    -ms-flex-direction: column
    -o-flex-direction: column
    flex-direction: column
  .breadcrumb
    ul
      -webkit-flex-wrap: wrap
      -moz-flex-wrap: wrap
      -ms-flex-wrap: wrap
      -o-flex-wrap: wrap
      flex-wrap: wrap
      li
        margin-bottom: 10px
  .product
    -webkit-flex-wrap: wrap
    -moz-flex-wrap: wrap
    -ms-flex-wrap: wrap
    -o-flex-wrap: wrap
    flex-wrap: wrap
    padding-bottom: 40px
    &-info
      margin-left: 15px
    &-image
  .product-tabs-nav ul li a
    padding: 7px 10px 5px 10px
  .product-info
    border: none
  .product-actions
    padding-left: 310px
    margin-left: 0
    width: 100%
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    -webkit-flex-wrap: wrap
    -moz-flex-wrap: wrap
    -ms-flex-wrap: wrap
    -o-flex-wrap: wrap
    flex-wrap: wrap
    -webkit-align-items: center 
    -moz-align-items: center 
    -ms-align-items: center 
    -o-align-items: center 
    align-items: center 
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-justify-content: space-between
    -o-justify-content: space-between
    justify-content: space-between
  .product-info
    width: 100%
    margin-left: 0
  .product-actions
    padding-left: 0
    position: relative
  .product-tabs-nav ul li a
    font-size: 8px
    font-weight: normal
  .product-actions > div
    width: 100%
  .product
    overflow: hidden
    &-title
      &-city
        opacity: 0.4
        color: #000000
        font-size: 9px
        font-weight: 700
        text-transform: uppercase
      &-item
        font-size: 18px
  .product-table td:first-child
    font-size: 10px
  .product-table td:last-child
    font-size: 9px
    padding-left: 20px
    padding-right: 0
  .product-qty
    margin-top: 0
    position: absolute
    top: 9px
    transform: scale(0.7)
    left: 109px
  .product-stars
    padding-top: 0
    position: absolute
    top: 22px
    width: 57px!important
    right: 0px
  .product-stock
    padding-top: 8px
    color: #191919
    font-size: 9.3px
    font-weight: 700
    text-align: right
    margin-top: -9px
  .product-support
    padding-top: 0
    margin-top: -35px
    transform: scale(0.7)
    margin-left: -49px
  .product-button
    padding-top: 11px
    margin-left: 174px
    a
      width: 126px
      height: 34px
      line-height: 34px
      span
        font-size: 12px
        i
          font-size: 9px
          top: 2px
  .product-price
    font-size: 20px
    span
      font-size: 19px
  .product-bottom
    -webkit-flex-direction: column
    -moz-flex-direction: column
    -ms-flex-direction: column
    -o-flex-direction: column
    flex-direction: column
  .modal
    padding: 20px !important
    &-login
      flex-direction: column
      &-middle
        padding-top: 20px
        padding-bottom: 20px
        margin: auto
    .modal-register-form .icheckbox
      min-width: 12px
    .modal-form-field--half
      width: 100%
    .modal-register-bottom-info
      display: block